header {
    width: 100%;
    border-radius: 8px;
}

h1 {
    font-family: 'Young Serif', serif;
    font-size: 2rem; /* Adjust as needed */
    color: hsl(24, 5%, 18%); /* Stone 900 */
    margin-top: 1rem;
  }